
.main-container{
   background-image: url("C:\Users\testuser\Desktop\project\todo-app\src\app\homeboard\trello.jpg");
    margin:25px;
    display: flex;
    padding:30px;
     justify-content: center; 
     align-items: center; 
    
    
    height:46rem;
    

}

.body .main-container{
  align-items: center;
}

.todo{
  flex:0 0 33%;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
}

.doing{
  flex:0 0 33%;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
}

.done{
  flex:0 0 33%;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
}

.listbox{
    display:flex;
    flex-direction: column;
    width: 400px;
    justify-content: center;
    text-align:center;
    margin: 15px;
    display: inline-block;
    vertical-align: top;
    border: solid 1px #ccc;
    box-shadow: 0 2px 3px grey;
  }


  .boxes{
    padding: 20px 10px;
    border: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: content-box;
    cursor: move;
    background: white;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 3px 5px grey;
    margin: 10px;
  }


  .title-box{
    
    width:91px;
    min-height: 29px;
    margin:10px;
    padding:20px 10px;
    border-radius: 25px;
    text-align: center;
  }
   .form{
     display:flex;
     flex:0 0 33%;
     width: inherit;
     align-items: center;
     height: 150px;
   }
  .task-box{
     
    width:153px;
    min-height: 29px;
    margin:10px;
    padding:20px 10px 20px 10px;
    border-radius: 25px;
    text-align: center;
  }

  .save-btn{

    border-radius: 6px;
    height: 22px;
    align-items: center;
    justify-content: center;
    width:58px;
    padding:2px 13px;

  }

  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  
  .todo.cdk-drop-list-dragging .boxes:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .doing.cdk-drop-list-dragging .boxes:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .done.cdk-drop-list-dragging .boxes:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  h1{
    color:white;
  }