
<div class="main-container">

  <!--To Do-->  
  
   <div class="listbox">
        <h1>To-Do</h1> 
        <div class="todo" cdkDropList #todoList="cdkDropList" [cdkDropListData]="todo" [cdkDropListConnectedTo] ="[doingList,doneList]" (cdkDropListDropped)="drop($event)">
              <div class="boxes" *ngFor="let item of todo" cdkDrag>
              <h4>{{item.title}}</h4>
              <p>{{item.task}}</p>
            </div>
        </div>
        <div *ngIf="addToDoTask">
          <input type="text" placeholder="title">
          <input type="text" placeholder="task">
        </div>
        <button (click)="addToDoTask=true;">add item</button>
     </div> 
     
  <!--Doing-->
  <div class="listbox">
      <h1>Done</h1>
      <div  class="doing" cdkDropList #doingList="cdkDropList" [cdkDropListData]="doing" [cdkDropListConnectedTo]="[todoList,doneList]" (cdkDropListDropped)="drop($event)">
         <div class="boxes" *ngFor="let item of doing" cdkDrag>
             <h4>{{item.title}}</h4>
             <p>{{item.task}}</p>
         </div>
      </div>
      <div *ngIf="addToDoTask">
          <input type="text" placeholder="title">
          <input type="text" placeholder="task">
        </div>
        <button (click)="addToDoTask=true;">add item</button>
    </div>


  <!--Done-->
      <div class="listbox">
       <h1>Done</h1>
       <div  class="done" cdkDropList #doneList="cdkDropList" [cdkDropListData]="done" [cdkDropListConnectedTo]="[todoList,doingList]" (cdkDropListDropped)="drop($event)">
          <div class="boxes" *ngFor="let item of done" cdkDrag>
              <h4>{{item.title}}</h4>
              <p>{{item.task}}</p>
          </div>
       </div>
       <div *ngIf="addToDoTask">
          <input type="text" placeholder="title">
          <input type="text" placeholder="task">
          <button (click)="saveItem('done')">save</button>
        </div>
       <button (click)="addToDoTask=true;">add item</button>
      </div>
      
  
  </div>
  